<!-- TODO: Make nav bar to help direct users -->
<header>
    <nav class="navbar navbar-expand-sm border-bottom">
        <div class="container">
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbar-collapse" aria-controls="navbar" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <!-- TODO: For login, add a <a> tag with an attribute href to call the '/login' API -->
                        <a class="nav-link " href="/login">Login</a>
                    </li>
                </ul>
                <div class="nav-item me-1">
                    <!-- TODO: For regist, add a <a> tag with an attribute href to call the '/register API -->
                    <a class="nav-link" href="/register">Register</a>
                </div>
                    <li class="nav-item">
                        {{#if user.isAdmin}}
                              <a class="nav-link" href="/admin/home">Admin</a>
                         {{/if}}
                    </li>
            </div>
        </div>
    </nav>
</header>