<div class="container-fluid d-flex justify-content-center vstack col-md-12 mx-auto">
    <h1 class="fw-bold text-decoration-underline">Friends</h1>
    <table class="table table-striped container-fluid">
        <tr>
            <th></th>
            <th class="fs-4">Username</th>
            <th class="text-end fs-4">View Profile</th>
        </tr>
        <tr>
            <td></td>
            <td>Example1</td>
            {{!-- <td>Oct. 12 2024</td> --}}
            <td class="text-end">
                <button class="btn btn-outline-success">View</button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Example2</td>
            {{!-- <td>Jan. 2 2024</td> --}}
            <td class="text-end">
                <button class="btn btn-outline-success">View</button>
            </td>
        </tr>
    </table>
</div>