<div class="container-fluid d-flex justify-content-center vstack col-md-5 mx-auto">
    <h1>Register</h1>
    <form action="/register" method="post">
        <div class="mb-3 container-fluid">
            <label for="username" class="fs-3">Username</label><br>
            <input type="text" class="form-control" name="username">
            <label for="password" class="fs-3">Password</label><br>
            <input type="text" class="form-control" name="password"><br>
            <div class="d-flex justify-content-center container-fluid">
                <button class="btn btn-primary" type='submit' >Register</button>
            </div>
        </div>
    </form>
    <div>
        <p>Already have an account? </p>
        <a href="/login">Login</a>
    </div>
</div>